@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

body {
  background-color: #F3F0E7;
  margin: 0;
  font-size: 1rem;
}


/* overwrite custom button styles  */
.slick-arrow
{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #00a6ff;
    position: absolute;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}



.slick-arrow:hover {
  background: linear-gradient(to right, #22BBE0, #048506);

}

.slick-arrow:focus {
  background-color: #00a6ff;

}



.slick-prev:after {
   content: "";
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 2.5rem solid white;
    position: absolute;
    left: 50%;
    transform: translate(-60%, -50%) rotate(-90deg);
}
.slick-next:after {
  content: "";
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 2.5rem solid white;
  position: absolute;
  left: 50%;
  transform: translate(-40%, -50%) rotate(90deg);
}

.slick-prev:before {
  content: none;

}

.slick-next:before {
  content: none;
}